/* RESET BASICO */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 0px; 
}

.App {
  display: flex; 
  flex-direction: column; /*o tutulo e os cards fiam em colunas */
  align-items: center;
  
  justify-content: center; /* Centraliza os itens verticalmente */
  min-height: 100vh; 
  
  gap: 30px; /* espaço entre os cartoes */
  
  padding-top: 80px; 
  padding-bottom: 20px; 
}

.TituloAPP {
  /* margin: 0; */ /* é so alterar isso para a distancia do titulo ao topo */
  color: red; 
  position: fixed; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 60%; 
  text-align: center; 
  padding: 10px 0; 
  background-color: lightgray; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

