
<p>Header</p> 
<h1>Olá Mundo</h1>
<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/list">Lista</a>
</nav>
<router-outlet></router-outlet>
<p>Footer</p>
<!-- 
<app-fist-component></app-fist-component>
<app-parent-data [name] = "userName" [dadosDeUsuario]="userData"></app-parent-data>
<app-conditional-render></app-conditional-render>
<app-list-render></app-list-render>
<app-change-number></app-change-number>
<app-directives></app-directives>
<app-emiter></app-emiter>
<app-eventos></app-eventos>
<app-pipes></app-pipes>
<app-two-way-binding></app-two-way-binding> -->